.card-container {
    position: relative;
    background: linear-gradient(to bottom, #de4b4b 75%, white 20%);
}
@media (min-width: 1024px) {
    .card-container {
        background: linear-gradient(to right, #de4b4b 65%, white 20%);
        padding: 2.25rem 2.8rem 2.25rem 3.2rem;
        min-width: 40%;
    }
}

@media (min-width: 1024px) {
    .card-box div {
        margin: 0;
    }
}